/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 dic. 2023, 14:52:37
    Author     : braya
*/

.wrapper {
    display: grid;
    background-color: whitesmoke;
    width: 80%;
    border-radius: .5rem;
}

.box {   
    border-radius: .75rem;
    border: solid red;
    margin: 1rem .5rem 1rem .5rem;
}

.description {
    padding: 1rem;
    color: black;
}

.name {
    color: gold;
    padding: 1rem;
    text-align: center; 
    background-color: #eb1805;
    border-radius: .5rem;
}
.name:hover{
    background: rgba(255, 0, 0, 0.747);
    color:#edf10f  ;
    font-weight: bold;
}

