
body{
  margin: 0; /* Quita los márgenes predeterminados */
  padding: 0;;
  font-family: montserrat, sans-serif;
}

.contenedor {
  position: relative;
  display: inline-block;
}
.imagen{
    width: 100vw; height: 10vw;
}
.about {
  display: block;
  text-decoration: none;
  position: absolute;
  right: 55px;
  top: 20px;
  background: #E74C3C;
  border-color: #db545a ;
  color: #F9E79F ;
  font-family: Cambria, serif;
  padding: 12px 16px; 
  border-radius: 20px; 
  font-size: 16px;
}
 .about:hover{
    background: red;
    color:#F1C40F  ;
    font-weight: bold;
}
.titulo {
   margin-top: 0px;
   font-size: 58px;
   text-align: center;
   font-weight: bold;
}
.word1 {
  color: #db545a;
}
.word2 {
  color: #f1c50e;
}
.word3 {
  color: #db545a;
}

.menu{
    display: block;
    width:300px;
    
}
.menu h5{
    margin-top: 0;
    color: #db545a;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;

}
ul{
    list-style: none;
    width:260px;
    margin-top: 0px;
}    

nav ul li a{
    display: block;
    text-decoration: none;
    border-color: #db545a ;
    color: #F4D03F ;
    padding: 12px 15px;
    font-size: 21px;
    margin-top: 5px;
    border: 2px solid #B03A2E;
    background: #E74C3C;
    border-radius: 5px; 
}
 ul li a:hover{
    background: #f5d02f  ;
    color:#E74C3C  ;
}

